
.root{ 
    display: flex;
    border: 1px solid rgb(175, 175, 175);
    display: flex;
    padding: 20px 20px;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    font-size: 20px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.dishName{
    width: 150px;
}
.text{
    
}

.image{
    width: 200px;
    height: 200px;
    image-orientation: none;
    object-fit: cover;
}

.authorization{
    width: 400px;
    padding: 50px 10px;
}

.link{
    text-decoration: none;
    color: inherit;
    text-align: start;
}

.dish{
    
}

