.externalHeader{
    margin-bottom: 50px;
}

.externalFooter{
    margin-top: 50px;
}

.dark{
    background-color: rgb(34, 40, 49);
    color: #fff;
}

.main{
    min-height: 80vh;
}

#popover-container{
    z-index: 100;
    position: absolute;
}

#main{
    z-index: 0;
    position: relative;
}
