body{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(45, 12, 87);
    background-color: rgb(246, 245, 245);
    font-size: 16px;
    text-align: center;
}

input[type="text"] {
    font-family: inherit; 
    font-size: inherit; 
    line-height: inherit; 
  }


ul, li {
    list-style: none;
  }

  .loader {
    width: 48px;
    height: 48px;
    border: 2px solid rgba(126,25,255);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(126,25,255);
    width: 6px;
    height: 6px;
    transform: translate(150%, 150%);
    border-radius: 50%;
  }
  .loader::before {
    left: auto;
    top: auto;
    right: 0;
    bottom: 0;
    transform: translate(-150%, -150%);
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
